<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.fhi360.m360wv" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.org.fhi360.m360wv.main_v3" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.org.fhi360.m360wv.REACHActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.org.fhi360.m360wv.IndicatorActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.REACHIndicatorActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.DashboardActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.MenuReach" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.MenuREACH_start" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.MainSelectActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.CollectActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.CollectSelectActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.CollectSelectActivityNEW" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.MenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.Reach_pg_sm_0" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.Reach_pg_le_0" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.Reach_pg_we_0" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.Reach_pg_nu_0" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.Reach_pg_he_0" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.Literacy_pg_bl_0" android:screenOrientation="portrait"></activity>
        <activity android:name="com.org.fhi360.m360wv.Camp_pg_bl_0" android:screenOrientation="portrait"></activity>
        <activity android:name=".utils_menu.MyExpandableAdapter" />
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait" />

    </application>

</manifest>
